
.rewardssocial-widgets {
	margin-bottom: 15px;
}

.rewardssocial-widget {
    display: inline-block;   
    vertical-align: top;
    margin: 10px 15px 0px 0px; 
}

.rewardssocial-widgets .points-notification {
	height: 25px;
    margin-right: 0px;
}


.rewardssocial-facebook-like {
}

.rewardssocial-pinterest-pin {
}

.rewardssocial-google-plusone {
}

.rewardssocial-twitter-tweet {
}

.rewardssocial-twitter-follow {  
  margin-right: 0px;
}

.facebook-share-button {
    display: inline-block;
    max-width: 100%;
    zoom: 1;
}

span#rewardssocial-notification-loading {
    padding-top  : 3px;
    padding-right: 3px;
}

/**
 * Social sharing button: used for 'Facebook Share' and 'Refer a Friend';
 */
.btn {
	font-size: 11px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    max-width: 100%;
    position: relative;
    display: inline-block;
    zoom: 1;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
    background-image: -moz-linear-gradient(top,#fff,#dedede);
    background-image: -o-linear-gradient(top,#fff,#dedede);
    background-image: -ms-linear-gradient(top,#fff,#dedede);
    background-image: linear-gradient(top,#fff,#dedede);
    border: #ccc solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

.btn:focus, .btn:hover, .btn:active {
    border-color: #bbb;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#d9d9d9));
    background-image: -moz-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: -o-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: -ms-linear-gradient(top,#f8f8f8,#d9d9d9);
    background-image: linear-gradient(top,#f8f8f8,#d9d9d9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn i {
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: transparent url('../../images/rewardssocial/facebook/facebook-icon.png') 0 0 no-repeat;
    background-image: url('../../images/rewardssocial/facebook/facebook-icon.png');
}

.btn .label {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 1px 4px 0 23px;
    white-space: nowrap;
}

/**
 * Counters specific CSS
 */
.rewardssocial-google-plusone-counter {
    width: 60px;
}


.rewardssocial-twitter-tweet-counter {
    width: 75px;
}

.rewardssocial-twitter-follow-counter {
    width: 125px;
}

.rewardssocial-pinterest-pin-counter {
    width: 62px;
}

/**
 * Rewards Social modal CSS
 */
.rewards-modal-mask {
    position: fixed;
    opacity: 0.7;
    z-index: 2000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
}

.rewards-modal {
    display: block;
    position: fixed;
    z-index: 2001;
    left: 50%;
    top: 50%;
    max-width: 550px; 
    width: 90%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);   
    background: white;
    border: darkgrey 2px solid;
}
 
/* MCE1.9+ Fixes */
.rewards-modal .block-title {	
	border-bottom: 1px solid #ddd;
    padding: 2px 9px;
    overflow: auto;
}
	body:not(.customer-account) .rewards-modal.block:first-child .block-title {
	    padding-top: 3px;
	}

.rewards-modal .block-title .btn-remove {
    float: right;
    height: 16px;
}
	.rewards-modal .block-title .btn-remove:after {
		height: 16px;
		line-height: 16px;
		margin-top: -1px;
        display: block;	
	}
/* End of MCE1.9+ Fixes */

.rewards-modal .content {
    padding: 10px;
}

.rewards-modal .content .message {
    text-align: left;
    margin-top: 10px;
    color: #FF0000;
    font-weight: bold;
    display: none;
}

.rewards-modal .content .modal-step {
    padding-top: 10px;
    padding-bottom: 10px;
}

/**
 * Rewardssocial purchase share
 */
.rewardssocial-purchased-product {
    margin-bottom: 40px;
}

.rewardssocial-purchased-product .product-image {
    margin-left: 0;
}

.chechout-purchase-share {
    margin-top: 8px;
    padding-top: 10px;
    border-top  : 1px solid #cfcfcf;
}

.chechout-purchase-share .page-title {
    margin: 10px 0 !important;
}

.chechout-purchase-share .products-grid {
    margin: 0;
    background: none;
    width: 100%;
}

.chechout-purchase-share .products-grid .item {
    padding-bottom: 30px;
    min-width: 195px;
}

.chechout-purchase-share .products-grid .actions {
    position: relative;
}

.chechout-purchase-share .products-grid .actions .rewardssocial-widget {
    margin-right: 5px;
}
