<?xml version="1.0"?>
<config>
    <modules>
        <MDN_CustomerUniversalPassword>
            <version>1.3</version>
        </MDN_CustomerUniversalPassword>
    </modules>
    <global>
    	<helpers>
            <CustomerUniversalPassword>
                <class>MDN_CustomerUniversalPassword_Helper</class>
            </CustomerUniversalPassword>
        </helpers>
   	   	<models>
            <CustomerUniversalPassword>
                <class>MDN_CustomerUniversalPassword_Model</class>
            </CustomerUniversalPassword>
			<customer>
           		<rewrite>
           			<customer>MDN_CustomerUniversalPassword_Model_Customer</customer>
           		</rewrite>
			</customer>
   	   </models>
   	   <resources>
        	<CustomerUniversalPassword_setup>
				<setup>
					<module>MDN_CustomerUniversalPassword</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</CustomerUniversalPassword_setup>
            <CustomerUniversalPassword_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </CustomerUniversalPassword_write>
            <CustomerUniversalPassword_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </CustomerUniversalPassword_read>
        </resources>
    </global>
    <adminhtml>
		<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <customeruniversalpassword module="CustomerUniversalPassword">
											<title>Customer Universal Password</title>
	                                    </customeruniversalpassword>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	         </resources>
	    </acl>
    </adminhtml>
</config> 