<?xml version="1.0"?>
<config>
    <modules>
        <MDN_HealthyERP>
            <version>0.0.3</version>
            <depends>
                <MDN_AdvancedStock />               
            </depends>
        </MDN_HealthyERP>
    </modules>
    <global>
        <helpers>
            <HealthyERP>
                <class>MDN_HealthyERP_Helper</class>
            </HealthyERP>
        </helpers>
        <blocks>
            <HealthyERP>
                <class>MDN_HealthyERP_Block</class>
            </HealthyERP>
        </blocks>        
        <resources>
            <HealthyERP_setup>
                <setup>
                    <module>MDN_HealthyERP</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </HealthyERP_setup>
            <HealthyERP_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </HealthyERP_write>
            <HealthyERP_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </HealthyERP_read>
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <MDN_HealthyERP>
                    <files>
                        <default>MDN_HealthyERP.csv</default>
                    </files>
                </MDN_HealthyERP>
            </modules>
        </translate>        
    </adminhtml>

    <frontend>
        <routers>
            <healthyerp>
                <use>standard</use>
                <args>
                    <module>MDN_HealthyERP</module>
                    <frontName>HealthyERP</frontName>
                </args>
            </healthyerp>
        </routers>
        <translate>
            <modules>
                <MDN_HealthyERP>
                    <files>
                        <default>MDN_HealthyERP.csv</default>
                    </files>
                </MDN_HealthyERP>
            </modules>
        </translate>        
    </frontend>
    
    <admin>
        <routers>
            <healthyerp>
                <use>admin</use>
                <args>
                    <module>MDN_HealthyERP</module>
                    <frontName>HealthyERP</frontName>
                </args>
            </healthyerp>
        </routers>
    </admin>
    
    <default>
        <HealthyERP>
            <options>
                <display_basic_message>1</display_basic_message>
                <display_advanced_message>0</display_advanced_message>
            </options>
        </HealthyERP>
    </default>
    
</config> 