<?xml version="1.0"?>
<config>
    <modules>
        <MDN_Orderpreparation>
            <version>2.8.2</version>
            <depends>
                <MDN_Purchase />
                <Mage_Sales />
            </depends>
        </MDN_Orderpreparation>
    </modules>
    <global>
        <helpers>
            <Orderpreparation>
                <class>MDN_Orderpreparation_Helper</class>
            </Orderpreparation>
        </helpers>
        <blocks>
            <Orderpreparation>
                <class>MDN_Orderpreparation_Block</class>
            </Orderpreparation>
        </blocks>
        <models>
   	   		            
            <Orderpreparation>
                <class>MDN_Orderpreparation_Model</class>
                <resourceModel>Orderpreparation_mysql4</resourceModel>
            </Orderpreparation>
            
            <Orderpreparation_mysql4>
                <class>MDN_Orderpreparation_Model_Mysql4</class>
                <!-- defini les tables utilisables -->
                <entities>
                    <ordertoprepare>
                        <table>order_to_prepare</table>
                    </ordertoprepare>
                    <ordertoprepareitem>
                        <table>order_to_prepare_item</table>
                    </ordertoprepareitem>
                    <ordertopreparepending>
                        <table>order_to_prepare_pending</table>
                    </ordertopreparepending>
                    <CarrierTemplate>
                        <table>order_preparation_carrier_template</table>
                    </CarrierTemplate>
                    <CarrierTemplateField>
                        <table>order_preparation_carrier_template_fields</table>
                    </CarrierTemplateField>
                </entities>
            </Orderpreparation_mysql4>
            
        </models>
        <resources>
            <Orderpreparation_setup>
                <setup>
                    <module>MDN_Orderpreparation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Orderpreparation_setup>
            <Orderpreparation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Orderpreparation_write>
            <Orderpreparation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Orderpreparation_read>
        </resources>
      
        <events>
            <advancedstock_order_item_reserved_qty_changed>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/ErpObserver</class>
                        <method>advancedstock_order_item_reserved_qty_changed</method>
                    </OrderPreparation>
                </observers>
            </advancedstock_order_item_reserved_qty_changed>
            <advancedstock_order_item_preparation_warehouse_changed>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/ErpObserver</class>
                        <method>advancedstock_order_item_preparation_warehouse_changed</method>
                    </OrderPreparation>
                </observers>
            </advancedstock_order_item_preparation_warehouse_changed>
            <salesorder_just_cancelled>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/ErpObserver</class>
                        <method>salesorder_just_cancelled</method>
                    </OrderPreparation>
                </observers>
            </salesorder_just_cancelled>
            <salesorder_aftersave>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/ErpObserver</class>
                        <method>salesorder_aftersave</method>
                    </OrderPreparation>
                </observers>
            </salesorder_aftersave>
            <sales_order_place_after>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/Observer</class>
                        <method>sales_order_afterPlace</method>
                    </OrderPreparation>
                </observers>
            </sales_order_place_after>
            <salesorderitem_aftersave>
                <observers>
                    <OrderPreparation>
                        <type>singleton</type>
                        <class>Orderpreparation/ErpObserver</class>
                        <method>salesorderitem_aftersave</method>
                    </OrderPreparation>
                </observers>
            </salesorderitem_aftersave>
        </events>
        
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MDN_Orderpreparation>
                    <files>
                        <default>MDN_Orderpreparation.csv</default>
                    </files>
                </MDN_Orderpreparation>
            </modules>
        </translate>
        <layout>
            <updates>
                <orderpreparation>
                    <file>orderpreparation.xml</file>
                </orderpreparation>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <Orderpreparation>
                <use>standard</use>
                <args>
                    <module>MDN_Orderpreparation</module>
                    <frontName>OrderPreparation</frontName>
                </args>
            </Orderpreparation>
        </routers>
        <!-- on inscrit notre fichier layout pour qu'il soit parse par magento (sinon il n'est pas considere) -->
        <layout>
            <updates>
                <orderpreparation>
                    <file>orderpreparation.xml</file>
                </orderpreparation>
            </updates>
        </layout>
    </frontend>
    
    <admin>
        <routers>
            <Orderpreparation>
                <use>admin</use>
                <args>
                    <module>MDN_Orderpreparation</module>
                    <frontName>OrderPreparation</frontName>
                </args>
            </Orderpreparation>
        </routers>
    </admin>
    
    <default>
        <orderpreparation>
            <order_weight_calculation>
                <additional_weight_value>0</additional_weight_value>
                <enable>1</enable>
            </order_weight_calculation>
            <download_document_options>
                <print_invoice_twice_if_taxless>0</print_invoice_twice_if_taxless>
                <print_invoices>1</print_invoices>
                <print_shipments>1</print_shipments>
                <print_comments>1</print_comments>
                <print_preparation>1</print_preparation>
            </download_document_options>
            <order_preparation_step>
                <print_method>download</print_method>
                <display_create_shipments_button>1</display_create_shipments_button>
                <display_picking_list_button>1</display_picking_list_button>
                <display_download_document_button>1</display_download_document_button>
                <display_packing_button>1</display_packing_button>
                <display_shipping_label_button>1</display_shipping_label_button>
                <display_notify_button>1</display_notify_button>
                <display_finish_button>1</display_finish_button>
            </order_preparation_step>
            <notify_step>
                <notify_invoice>1</notify_invoice>
                <notify_shipment>1</notify_shipment>
            </notify_step>
            <packing>
                <add_packing_step>1</add_packing_step>
                <create_shipment_on_commit>1</create_shipment_on_commit>
                <prevent_packing_if_order_already_shipped>1</prevent_packing_if_order_already_shipped>
                <print_packing_slip_when_order_packed>1</print_packing_slip_when_order_packed>
                <print_invoice_when_order_packed>1</print_invoice_when_order_packed>
                <print_shipping_label>1</print_shipping_label>
                <display_quantity_button>1</display_quantity_button>
                <display_serials>1</display_serials>
                <display_barcode>0</display_barcode>
                <image_thumbnail_size>80</image_thumbnail_size>
            </packing>
            <misc>
                <default_page_size>50</default_page_size>
                <create_invoice>1</create_invoice>
                <single_user_mode>0</single_user_mode>
            </misc>
            <picking_list>
                <display_product_without_stock_management>0</display_product_without_stock_management>
                <sort_mode>manufacturer</sort_mode>
                <mode>merged</mode>
            </picking_list>
            <create_shipment_and_invoices_options>
                <create_invoice>1</create_invoice>
                <create_shipment>1</create_shipment>
            </create_shipment_and_invoices_options>
        </orderpreparation>
    </default>
    
</config> 