<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Rma>
            <version>1.0.3</version>
        </Mirasvit_Rma>
    </modules>
    <global>
        <blocks>
            <rma>
                <class>Mirasvit_Rma_Block</class>
            </rma>
        </blocks>
        <models>
            <rma>
                <class>Mirasvit_Rma_Model</class>
                <resourceModel>rma_resource</resourceModel>
            </rma>
            <rma_resource>
                <class>Mirasvit_Rma_Model_Resource</class>
                <entities>
                    <rma>
                        <table>m_rma_rma</table>
                    </rma>
                    <rma_store>
                        <table>m_rma_rma_store</table>
                    </rma_store>
                    <item>
                        <table>m_rma_item</table>
                    </item>
                    <reason>
                        <table>m_rma_reason</table>
                    </reason>
                    <status>
                        <table>m_rma_status</table>
                    </status>
                    <resolution>
                        <table>m_rma_resolution</table>
                    </resolution>
                    <condition>
                        <table>m_rma_condition</table>
                    </condition>
                    <comment>
                        <table>m_rma_comment</table>
                    </comment>
                    <field>
                        <table>m_rma_field</table>
                    </field>
                </entities>
            </rma_resource>
        </models>
        <helpers>
            <rma>
                <class>Mirasvit_Rma_Helper</class>
            </rma>
        </helpers>
        <resources>
            <mst_rma_setup>
                <setup>
                    <module>Mirasvit_Rma</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_rma_setup>
        </resources>
        <events>
            <!--
            <magento_event_name>
                <observers>
                    <m_rma_observer>
                        <type>singleton</type>
                        <class>YourObserverClassName</class>
                        <method>yourFunctionName</method>
                    </m_rma_observer>
                </observers>
            </magento_event_name>
            -->
        </events>
        <template>
            <email>
               <rma_notification_customer_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for Customer</label>
                   <file>mst_rma/notification_customer_email_template.html</file>
                   <type>html</type>
               </rma_notification_customer_email_template>
               <rma_notification_admin_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for Admin</label>
                   <file>mst_rma/notification_admin_email_template.html</file>
                   <type>html</type>
               </rma_notification_admin_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Rma</module>
                    <frontName>rma</frontName>
                </args>
            </rma>
        </routers>
    </frontend>
    <admin>
        <routers>
            <rmaadmin>
                <use>admin</use>
                <args>
                    <module>Mirasvit_Rma</module>
                    <frontName>rmaadmin</frontName>
                </args>
            </rmaadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <rma>
            <general>
                <default_status>1</default_status>
            </general>
            <policy>
            </policy>
            <notification>
                <sender_email>general</sender_email>
                <customer_email_template>rma_notification_customer_email_template</customer_email_template>
                <admin_email_template>rma_notification_admin_email_template</admin_email_template>
            </notification>
        </rma>
    </default>
</config>