<config>
	<modules>
		<Tatva_Sales>
			<version>0.1.0</version>
		</Tatva_Sales>
	</modules>
	<global>
        <resources>
            <tatvasales_setup>
                <setup>
                    <module>Tatva_Sales</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tatvasales_setup>
            <tatvasales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tatvasales_write>
            <tatvasales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tatvasales_read>
        </resources>
		<models>
            <sales>
            	<rewrite>
            		<quote_address>Tatva_Sales_Model_Quote_Address</quote_address>
                    <quote_address_total_shipping>Tatva_Sales_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
            	</rewrite>
            </sales>
        </models>

		<blocks>
            <tatvasales>
                <class>Tatva_Sales_Block</class>
            </tatvasales>
            <sales>
            	<rewrite>
            		<order_view>Tatva_Sales_Block_Order_View</order_view>
            		<order_info>Tatva_Sales_Block_Order_Info</order_info>
            	   <!--	<order_items>Tatva_Sales_Block_Order_Items</order_items>
            		<order_item_renderer_default>Tatva_Sales_Block_Order_Item_Renderer_Default</order_item_renderer_default>-->
            	</rewrite>
            </sales>
        </blocks>
		<helpers>
            <tatvasales>
                <class>Tatva_Sales_Helper</class>
            </tatvasales>
        </helpers>
	</global>
    <!--<adminhtml>
        <layout>
            <updates>
                <tatvasales>
                    <file>tatvasales/tatvasales.xml</file>
                </tatvasales>
            </updates>
        </layout>
    </adminhtml>-->
     <frontend>
        <routers>
            <tatvasales>
                <use>standard</use>
                <args>
                    <module>Tatva_Sales</module>
                    <frontName>tatvasales</frontName>
                </args>
            </tatvasales>
        </routers>
     </frontend>
</config>