<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Exportaccountancy>
            <version>0.1.0</version>
        </Tatva_Exportaccountancy>
    </modules>
	<global>
        <models>
			<exportaccountancy>
				<class>Tatva_Exportaccountancy_Model</class>
			</exportaccountancy>
		</models>
    </global>
    <!--<crontab>
        <jobs>
            <exportaccountancy_mgmt>
                <schedule><cron_expr>* 5 * * *</cron_expr></schedule>
                <run><model>exportaccountancy/observer::exportaccountancy</model></run>
            </exportaccountancy_mgmt>
        </jobs>
    </crontab>-->
</config>