<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Customerattributes>
            <version>0.1.0</version>
        </Tatva_Customerattributes>
    </modules>
    <frontend>
        <routers>
            <customerattributes>
                <use>standard</use>
                <args>
                    <module>Tatva_Customerattributes</module>
                    <frontName>customerattributes</frontName>
                </args>
            </customerattributes>
        </routers>
        <layout>
            <updates>
                <customerattributes>
                    <file>customerattributes.xml</file>
                </customerattributes>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customerattributes>
				<use>admin</use>
				<args>
					<module>Tatva_Customerattributes</module>
					<frontName>customerattributes</frontName>
				</args>
			</customerattributes>
    		<adminhtml>
    		    <args>
    		        <modules>
    		            <Tatva_Customerattributes before="Mage_Adminhtml">Tatva_Customerattributes_Adminhtml</Tatva_Customerattributes>
    		        </modules>
    		    </args>
    		</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<customerattributes>
					<file>customerattributes.xml</file>
				</customerattributes>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <customerattributes>
                <class>Tatva_Customerattributes_Model</class>
                <resourceModel>customerattributes_mysql4</resourceModel>
            </customerattributes>
			<customerattributes_mysql4>
                <class>Tatva_Customerattributes_Model_Mysql4</class>
                <!--<entities>
                    <customerattributes>
                        <table>customerattributes</table>
                    </customerattributes>
                </entities>-->
            </customerattributes_mysql4>
            <customer>
                <rewrite>
                    <attribute>Tatva_Customerattributes_Model_Attribute</attribute>
                </rewrite>
            </customer>
        </models>
        <resources>
            <customerattributes_setup>
                <setup>
                    <module>Tatva_Customerattributes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattributes_setup>
            <customerattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattributes_write>
            <customerattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattributes_read>
        </resources>
        <blocks>
            <customerattributes>
                <class>Tatva_Customerattributes_Block</class>
            </customerattributes>
            <!--<adminhtml>
                <rewrite>
                    <customer_grid>Tatva_Customerattributes_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>-->
        </blocks>
        <helpers>
            <customerattributes>
                <class>Tatva_Customerattributes_Helper</class>
            </customerattributes>
        </helpers>      
		<fieldsets> 
			<!-- For Saving customer attribute from checkout register step to Customer Account :: attribute code is "coupon_details" -->
			
			<!--<checkout_onepage_quote>
				<coupon_details>
			   		<to_customer>coupon_details</to_customer>
			    </coupon_details>
			</checkout_onepage_quote>
			<customer_account>
				<coupon_details>
			   		<to_quote>coupon_details</to_quote>
			   	</coupon_details>
			</customer_account>-->
            
			<!-- For Saving customer attribute from checkout register step to Customer Address :: attribute code is "testtext" -->
			
			<!--<sales_convert_quote_address> 
				<testtext> 
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address> 
				</testtext> 				
			</sales_convert_quote_address> 
			<customer_address> 
				<testtext> 
					<to_quote_address>*</to_quote_address> 
				</testtext> 				
			</customer_address>--> 
        </fieldsets>>
    </global>
</config>