{* This is a comment block

Variabile disponibile pentru acest template:
  - name            Numele destinatarului
  - email           Adresa de email a destinatarului
  - product_name    Numele produslui
  - product_url     Url-ul produsului
  - product_image   Url-ul pentru imaginea mica (75 px) a produslui
  - message         Mesajul personalizat al expeditorului
  - sender_name     Numele expeditorului
  - sender_email    Emailul expeditorului

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->

Bine ati venit, {{var name}}<br /><br />Priviti la  <a href="{{var product_url}}">{{var product_name}}</a><br /><br />Aici este mesajul: <br />{{var message}}<br /><br />