<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Material>
            <version>0.1.0</version>
        </Tatva_Material>
    </modules>
    <frontend>
        <routers>
            <material>
                <use>standard</use>
                <args>
                    <module>Tatva_Material</module>
                    <frontName>material</frontName>
                </args>
            </material>
        </routers>
        <layout>
            <updates>
                <material>
                    <file>material.xml</file>
                </material>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<material>
				<use>admin</use>
				<args>
					<module>Tatva_Material</module>
					<frontName>material</frontName>
				</args>
			</material>
        </routers>
    </admin>
    <adminhtml>
	    <routers>
			<material>
				<use>standard</use>
				<args>
					<module>Tatva_Material</module>
					<frontName>material</frontName>
				</args>
			</material>
		</routers>
		<translate>
			<modules>
				<Tatva_Material>
					<files>
						<default>Tatva_Catalog.csv</default>
					</files>
				</Tatva_Material>
			</modules>
		</translate>
		<layout>
			<updates>
				<material>
					<file>material.xml</file>
				</material>
			</updates>
		</layout>
		<menu>
			<tatva>
				<children>
					<material translate="title" module="material">
						<title>Add Material</title>
						<sort_order>70</sort_order>
						<action>material/adminhtml_material</action>
					</material>
				</children>
			</tatva>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<azboutique>
							<children>
								<material translate="title" module="material">
									<title>Add Material</title>
									<sort_order>70</sort_order>
								</material>
							</children>
						</azboutique>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    <global>
        <models>
            <material>
                <class>Tatva_Material_Model</class>
                <resourceModel>material_mysql4</resourceModel>
            </material>
            <material_mysql4>
                <class>Tatva_Material_Model_Mysql4</class>
                <entities>
                    <material>
                        <table>material</table>
                    </material>
                </entities>
            </material_mysql4>
        </models>
        <resources>
            <material_setup>
                <setup>
                    <module>Tatva_Material</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </material_setup>
            <material_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </material_write>
            <material_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </material_read>
        </resources>
        <blocks>
            <material>
                <class>Tatva_Material_Block</class>
            </material>
        </blocks>
        <helpers>
            <material>
                <class>Tatva_Material_Helper</class>
            </material>
        </helpers>
    </global>
</config>