<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>AZ-boutique.fr</title>
<style>
body {
background:#ffe8f5;
font-family:Verdana, Geneva, sans-serif;
font-size:12px;
padding:0;
margin:30px 0 0 0;
}
</style>
</head>
<body>
<table width="618" border="0" cellspacing="0" cellpadding="0" align="center">
 {{config path='sales_email/tansactional_email/header'}} 	
  <tr>
    <td style="background:#de2666; color:#ffe8f5; text-align:right; text-transform:uppercase; height:20px; font-weight:bold; padding-right:5px; font-family:Verdana, Geneva, sans-serif; font-size:12px;">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" style="background:#ffffff; color:#333333; margin-bottom:10px; padding:0 9px; line-height:18px; font-family:Verdana, Geneva, sans-serif; font-size:12px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px;">&nbsp;</td>
        </tr>
         <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{htmlescape var=$order.getCustomerName()}},</h1>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">
                        Your order # {{var order.increment_id}} has been <br/>
                        <strong>{{var order.getStatusLabel()}}</strong>.
                    </p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.</p>
                    <p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">{{var comment}}</p>
                    
                </td>
            </tr>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px;">Sinc&eacute;res salutations,</td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px;">Le Service Client</td>
        </tr>
        <tr>
          <td height="5" style="font-family:Verdana, Geneva, sans-serif; font-size:12px;"></td>
        </tr>
        <tr>
          <td style="font-family:Verdana, Geneva, sans-serif; font-size:12px;"><a href="{{store url=""}}" target="_blank" style="color:#c30245; text-decoration:none; border:none; font-family:Verdana, Geneva, sans-serif; font-size:12px;">{{config path="general/store_information/name"}}</a></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td style="background:#de2666; height:23px;">&nbsp;</td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  {{config path='sales_email/tansactional_email/footer'}} 	  
</table>
</body>
</html>