<?xml version="1.0" encoding="UTF-8"?>
<config>
   <sections>
       
       <catalog>
            <groups>
                <aitmanufacturers translate="label" module="aitmanufacturers">
                    <label>Shop By Brands</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>99</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <manufacturers_replace_manufacturer translate="label comment">
                            <label>Replace Manufacturer with Brands</label>
                            <comment>This setting allows renaming manufacturer attribute on the front end. This setting is run by default in Shop By Brands ver. 2.x</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </manufacturers_replace_manufacturer>                     
						<use_page_canonical_tag translate="label comment">
                            <label>Use Canonical Link Meta Tag For Categories</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_page_canonical_tag>
                        <enable_product_list_cache translate="label comment">
                            <label>Enable Product List caching on attribute page</label>
                            <comment>If you detect incompatibility issues with other extensions on Shop by Attribute page please disable this option</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_product_list_cache>                        
                    </fields>
                </aitmanufacturers>
            </groups>
        </catalog>
       
        <sitemap>
            <groups>
                <aitmanufacturers translate="label">
                    <label>Shop By Attribute Pages Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <changefreq translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_frequency</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </changefreq>
                        <priority translate="label comment">
                            <label>Priority</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_sitemap</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Valid values range: from 0.0 to 1.0.</comment>
                        </priority>
                    </fields>
                </aitmanufacturers>            
            </groups>
        </sitemap>
    </sections>
</config>
<!--
/**
 * Shop By Brands
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitmanufacturers
 * @version      3.3.1
 * @license:     zAuKpf4IoBvEYeo5ue8Cll0eto0di8JUzOnOWiuiAF
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
-->
