<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitmanufacturers>
            <version>3.3.3</version>
            <platform>community</platform>
        </Aitoc_Aitmanufacturers>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitmanufacturers>
                    <files>
                        <default>Aitoc_Aitmanufacturers.csv</default>
                    </files>
                </Aitoc_Aitmanufacturers>
            </modules>
        </translate>
        <routers>
            <aitmanufacturers>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitmanufacturers</module>
                    <frontName>brands</frontName>
                </args>
            </aitmanufacturers>            
        </routers>
        <layout>
            <updates>
                <aitmanufacturers>
                    <file>aitmanufacturers.xml</file>
                </aitmanufacturers>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>onCatalogProductCollectionLoadBefore</method>
                    </aitmanufacturers>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_collection_apply_limitations_after>
            	<observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>removeCategoryId</method>
                    </aitmanufacturers>
                </observers>
            </catalog_product_collection_apply_limitations_after>
            <adjustware_nav_layer_set_params_after>
            	<observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>setBrandId</method>
                    </aitmanufacturers>
                </observers>
            </adjustware_nav_layer_set_params_after>
            <aitoc_aitmanufacturers_layer_filters_get_after>
            	<observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>removeBrandFilters</method>
                    </aitmanufacturers>
                </observers>
            </aitoc_aitmanufacturers_layer_filters_get_after>
            <aitoc_aitmanufacturers_layer_state_filters_get_after>
            	<observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>removeStateBrandFilters</method>
                    </aitmanufacturers>
                </observers>
            </aitoc_aitmanufacturers_layer_state_filters_get_after>
        </events>
    </frontend>
    <admin>
        <routers>			
            <aitmanufacturers_admin>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitmanufacturers</module>
                    <frontName>brandsadmin</frontName>
                </args>
            </aitmanufacturers_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitmanufacturers>
                    <files>
                        <default>Aitoc_Aitmanufacturers.csv</default>
                    </files>
                </Aitoc_Aitmanufacturers>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitmanufacturers>
                    <file>aitmanufacturers.xml</file>
                </aitmanufacturers>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        
		<rewrite>
	        <aitoc_aitmanufacturers_sitemap>
				<from><![CDATA[#^/catalog/seo_sitemap/attributes#]]></from>
                <to>/brands/seo_sitemap/attributes/</to>
	        </aitoc_aitmanufacturers_sitemap>
	        
	    </rewrite>
	    
		<rewrite>
	        <aitoc_aitmanufacturers_config>
				<from><![CDATA[#^/.+/catalog_product_attribute/save#]]></from>
                <to>/brandsadmin/adminhtml_attribute/saveconfig</to>
	        </aitoc_aitmanufacturers_config>
	    </rewrite>
	    
        <models>
            <catalog>
                <rewrite>
                    <layer_filter_category>Aitoc_Aitmanufacturers_Model_Rewrite_CatalogLayerFilterCategory</layer_filter_category>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_price>Aitoc_Aitmanufacturers_Model_Rewrite_CatalogModelResourceLayerFilterPrice</layer_filter_price>
                </rewrite>
            </catalog_resource>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Aitoc_Aitmanufacturers_Model_Rewrite_WysiwygImagesStorage</wysiwyg_images_storage>
                </rewrite>
            </cms>  
            <aitmanufacturers>
                <class>Aitoc_Aitmanufacturers_Model</class>
                <resourceModel>aitmanufacturers_mysql4</resourceModel>
            </aitmanufacturers>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Aitoc_Aitmanufacturers_Model_Rewrite_CatalogModelResourceEavMysql4ProductCollection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <aitmanufacturers_mysql4>
                <class>Aitoc_Aitmanufacturers_Model_Mysql4</class>
                <entities>
                    <aitmanufacturers>
                        <table>aitmanufacturers</table>
                    </aitmanufacturers>
                    <aitmanufacturers_stores>
                        <table>aitmanufacturers_stores</table>
                    </aitmanufacturers_stores>
                    <aitmanufacturers_config>
                        <table>aitmanufacturers_config</table>
                    </aitmanufacturers_config>
                </entities>
            </aitmanufacturers_mysql4>
            
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <category_tree>Aitoc_Aitmanufacturers_Model_Rewrite_CatalogModelResourceEavMysql4CategoryTree</category_tree>
                </rewrite>
            </catalog_resource_eav_mysql4>
            
            <catalog_resource_eav>
                <rewrite>
                    <attribute>Aitoc_Aitmanufacturers_Model_Rewrite_CatalogEavAttribute</attribute>
                </rewrite>
            </catalog_resource_eav>
            
            
            
            <sitemap>
                <rewrite>
                    <sitemap>Aitoc_Aitmanufacturers_Model_Rewrite_SitemapSitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <resources>
            <aitmanufacturers_setup>
                <setup>
                    <module>Aitoc_Aitmanufacturers</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitmanufacturers_setup>
            <aitmanufacturers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitmanufacturers_write>
            <aitmanufacturers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitmanufacturers_read>
        </resources>
        <blocks>
            <aitmanufacturers>
                <class>Aitoc_Aitmanufacturers_Block</class>
            </aitmanufacturers>
            <catalog>
                <rewrite>
                    <product_list_toolbar>Aitoc_Aitmanufacturers_Block_Product_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>Aitoc_Aitmanufacturers_Block_Adminhtml_Rewrite_AttributeTabs</catalog_product_attribute_edit_tabs>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <layer_view>Aitoc_Aitmanufacturers_Block_Rewrite_CatalogLayerView</layer_view>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <layer_state>Aitoc_Aitmanufacturers_Block_Rewrite_CatalogLayerState</layer_state>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_view>Aitoc_Aitmanufacturers_Block_Rewrite_CatalogProductView</product_view>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <navigation>Aitoc_Aitmanufacturers_Block_Rewrite_CatalogNavigation</navigation>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>Aitoc_Aitmanufacturers_Block_Rewrite_PageHtmlTopmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <aitmanufacturers>
                <class>Aitoc_Aitmanufacturers_Helper</class>
            </aitmanufacturers>
            <cms>
                <rewrite>
                    <wysiwyg_images>Aitoc_Aitmanufacturers_Helper_Rewrite_WysiwygImages</wysiwyg_images>
                </rewrite>
            </cms>   
        </helpers>
        <aitmanufacturers>
            <layouts>
                <!--<empty>
                    <label>Empty</label>
                    <template>page/one-column.phtml</template>
                </empty>
                --><one_column>
                    <label>1 column</label>
                    <template>page/1column.phtml</template>
                </one_column>
                <two_columns_left>
                    <label>2 columns with left bar</label>
                    <template>page/2columns-left.phtml</template>
                </two_columns_left>
                <two_columns_right>
                    <label>2 columns with right bar</label>
                    <template>page/2columns-right.phtml</template>
                </two_columns_right>
                <three_columns>
                    <label>3 columns</label>
                    <template>page/3columns.phtml</template>
                </three_columns>
            </layouts>
        </aitmanufacturers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <aitmanufacturers_main>
                        <type>singleton</type>
                        <class>Aitoc_Aitmanufacturers_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </aitmanufacturers_main>
                </observers>
            </controller_front_init_routers>
            <catalog_block_product_list_collection>
            	<observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>removeCategoryPosition</method>
                    </aitmanufacturers>
                </observers>
            </catalog_block_product_list_collection>         
            <core_abstract_load_after> 
                <observers>
                    <aitmanufacturers>
                        <type>singleton</type>
                        <class>aitmanufacturers/observer</class>
                        <method>checkUrlRewrite</method>
                    </aitmanufacturers>
                </observers>
            </core_abstract_load_after> 
        </events>
    </global>
    <default>
	<catalog>
            <aitmanufacturers>
                <manufacturers_replace_manufacturer>1</manufacturers_replace_manufacturer>
                <enable_product_list_cache>0</enable_product_list_cache>
            </aitmanufacturers>
        </catalog>
        <sitemap>
            <aitmanufacturers>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
            </aitmanufacturers>
        </sitemap>
    </default>
</config>
<!--
/**
 * Shop By Brands
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitmanufacturers
 * @version      3.3.1
 * @license:     zAuKpf4IoBvEYeo5ue8Cll0eto0di8JUzOnOWiuiAF
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
-->
