<?xml version="1.0"?>
<config>
	<tabs>
		<gls translate="label">
			<label>Gls Unibox</label>
			<sort_order>200</sort_order>
		</gls>
	</tabs>
	<sections>
		<glsbox translate="label" module="glsbox">
			<label>GLS Unibox</label>
			<tab>gls</tab>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<account translate="label" module="glsbox">
					<label>Account Einstellungen</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<glsip translate="label">
							<label>Unibox IP</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Ihre von GLS zugeteilte Unibox IP</comment>
						</glsip>
						<glsport translate="label">
							<label>Unibox Port</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Ihre der GLS Unibox zugeteilte Portnummer</comment>
						</glsport>
					</fields>
				</account>
				<labels translate="label" module="glsbox">
					<label>Versandlabels</label>
					<frontend_type>text</frontend_type>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<autoinserttracking translate="label">
							<label>Sendungsverfolgung automatisch anlegen</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Wenn ja werden die Trackinginformationen zu dem Shipment
								automatisch eingefügt. (Informationen im Shipping-Backend wird
								erst sichtbar wenn Sie die Seite neu laden)</comment>
						</autoinserttracking>
						<savetodisk translate="label">
							<label>erstellte Pdfs speichern</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Steuert ob die erstellten Pdf Labels auf der Platte
								zwischengespeichert werden (Ordner ist entsprechend unterhalb
								anzupassen)</comment>
						</savetodisk>
						<storage_folder translate="label">
							<label>Ordner</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Die Drucklabels werden in diesem Ordner relativ zum
								media Ordner zwischengespeichert. Ohne vorangestellten /, ohne
								nachfolgendesn /(Muss schreibberechtigungen besitzen)</comment>
						</storage_folder>
						<file_name_prefix translate="label">
							<label>Dateiname Prefix</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Prefix wird der Datei vorangestellt, z.B.
								PREFIX_10000001.pdf.</comment>
						</file_name_prefix>
						<papersize translate="label">
							<label>Papiergröße</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>mögliche Werte: A4 und A5</comment>
						</papersize>
						<beginx translate="label">
							<label>X Coordinate für obere linke Ecke</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>im Bezug auf die obere linke Ecke</comment>
						</beginx>
						<beginy translate="label">
							<label>Y Coordinate für obere linke Ecke</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>im Bezug auf die obere linke Ecke</comment>
						</beginy>
					</fields>
				</labels>
				<versender translate="label" module="glsbox">
					<label>Versenderdaten</label>
					<frontend_type>text</frontend_type>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<name1 translate="label">
							<label>Name 1</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</name1>
						<name2 translate="label">
							<label>Name 2</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</name2>
						<strasse translate="label">
							<label>Straße</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</strasse>
						<landkennzeichen translate="label">
							<label>Länderkennzeichen</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</landkennzeichen>
						<plz translate="label">
							<label>Postleitzahl</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</plz>
						<ort translate="label">
							<label>Ort</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment></comment>
						</ort>
					</fields>
				</versender>
                <unibox_settings translate="label" module="glsbox">
                    <label>Unibox Einstellungen</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <glsflex translate="label">
                            <label>Flex delivery Service</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Flex delivery Service</comment>
                        </glsflex>
                    </fields>
                </unibox_settings>
			</groups>
		</glsbox>
	</sections>
</config>