<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_OptionImages>
            <version>0.1.0</version>
        </Pektsekye_OptionImages>
    </modules>
    <adminhtml>
		<layout>
			<updates>
				<optionimages>
					<file>optionimages.xml</file>
				</optionimages>
			</updates>
		</layout>
        <events>
            <model_save_after>
                <observers>
                    <optionimages>
                        <type>singleton</type>
                        <class>optionimages/observer</class>
                        <method>optionSaveAfter</method>
                    </optionimages>
                </observers>
            </model_save_after>
            <model_delete_after>
                <observers>
                    <optionimages>
                        <type>singleton</type>
                        <class>optionimages/observer</class>
                        <method>optionDeleteAfter</method>
                    </optionimages>
                </observers>
            </model_delete_after>			
        </events>		
        <acl>
          <resources>
			<all>
				<title>Allow Everything</title>
			</all>
            <admin>
              <children>
                  <system>
                      <children>
                        <config>
                          <children>
                            <optionimages>
                              <title>Option Images Area</title>
                            </optionimages>
                          </children>
                        </config>
                      </children>
                  </system>
              </children>
            </admin>
          </resources>
        </acl>		
		<translate>
				<modules>
					 <Pektsekye_OptionImages>
							<files>
								  <default>Pektsekye_OptionImages.csv</default>
							</files>
					 </Pektsekye_OptionImages>
				</modules>
		  </translate>			  
	 </adminhtml>  
    <frontend>	
        <layout>
            <updates>
                <optionimages>
                    <file>optionimages.xml</file>
                </optionimages>
            </updates>
        </layout>
    </frontend>	
    <global>
        <models>
			<catalog_resource_eav_mysql4>
				<rewrite> 
					<product_option_value>Pektsekye_OptionImages_Model_Resource_Eav_Mysql4_Product_Option_Value</product_option_value> 	
				</rewrite> 			
			</catalog_resource_eav_mysql4> 	
            <optionimages>
                <class>Pektsekye_OptionImages_Model</class>
                <resourceModel>optionimages_mysql4</resourceModel>
            </optionimages>			
            <optionimages_mysql4>
                <class>Pektsekye_OptionImages_Model_Mysql4</class>
                <entities>
                    <product_option_type_image>
                        <table>optionimages_product_option_type_image</table>
                    </product_option_type_image>
                </entities>
            </optionimages_mysql4>		
        </models>
        <resources>
            <optionimages_setup>
                <setup>
                    <module>Pektsekye_OptionImages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optionimages_setup>
            <optionimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optionimages_write>
            <optionimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optionimages_read>
        </resources>
        <blocks>
            <optionimages>
                <class>Pektsekye_OptionImages_Block</class>
            </optionimages>				
        </blocks>	
        <helpers>
            <optionimages>
                <class>Pektsekye_OptionImages_Helper</class>
            </optionimages>
        </helpers>		
    </global>
	<default>
		<catalog>
			<custom_option_images>
				<popup>1</popup>
			</custom_option_images>
		</catalog>
	</default>	
</config>