.rewards-special-review-summary{margin-top:12px;font-size:8pt;}
.rewards-customer-sidebar{}
.rewards-customer-sidebar .block-content{padding-left:9px;font-size:11px;padding-bottom:6px;padding-top:7px;padding-right:9px;}
.rewards-customer-index .group-select .button-set{clear:both;margin-top:0em;padding-top:8px;text-align:right;}
.rewards-customer-index .group-select ul{padding-top:15px;}
.rewards-customer-index .group-select ul li label{font-weight:bold;}
.rewards-checkout-cart-before_total-head{}
.rewards-checkout-cart-points-head{width:80px;}
.item-points-header-redeemed, .item-points-header-earned{color:rgb(30, 126, 200);font-weight:bold;cursor:pointer;}
.item-points-list-redeemed, .item-points-list-earned{}
.item-points-block{font-size:8pt;}
.item-no-points-caption{font-style:italic;}
.points-checkout-onepage-sidebox{}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header{}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header{background-color:#D0DCE1;}
.points-checkout-onepage-sidebox{background-color:#EEEEEE;border:1px solid #B7B7B7;margin-bottom:11px;padding-left:0px;}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-content{padding:6px;}
.points-checkout-onepage-sidebox H4.points-checkout-onepage-sidebox-header{list-style:none;}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header{background-color:#D0DCE1;}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header H4{float:left;color:#5E8AB4;font-size:13px;margin-top:2px;}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header{background-color:#D0DCE1;float:left;width:184px;}
.points-checkout-onepage-sidebox .points-checkout-onepage-sidebox-header{background-color:#D0DCE1;padding:2px 0px 0px 9px;border-bottom:1px solid #AFAFAF;font-size:10pt;}
.points-checkout-onepage-sidebox .onepage-sidebox-header{}
.points-checkout-onepage-sidebox .onepage-sidebox-content{}
.mypoints-page-head{}
.mypoints-summary .box-head h2, .mypoints-redeemcatalog .box-head h2, .mypoints-sendfriend .box-head h2, .mypoints-transfers .box-head h2{background-image:none !important;padding-left:0;text-align:left;}
.dashboard .mypoints-summary .box-head h2{background:url(../../images/rewards/points.png) no-repeat 0 9px !important;padding-left:21px;width:100%;}
.mypoints-sendfriend{min-height:280px;}
.shopping-cart-collaterals .rewards-cart-box H4{min-height:16px;color:#E26703;background-repeat:no-repeat;background-position:0 0;padding:1px 0 1px 21px;text-transform:uppercase;background-image:url(../../images/icon_asterick.gif);padding-left:23px;}
.rewards-customer-index .mypoints-sendfriend TD{padding:2px 2px 4px 0;}
.shopping-cart-collaterals .rewards-cart-box{padding:12px 15px 15px;}
.rewards-cart-box .applied-redemptions{margin-bottom:10px;}
.rewards-cart-box .applied-redemptions{margin-bottom:10px;}
.rewards-cart-box .distributions{margin-bottom:10px;}
.rewards-cart-box .no_extra_points{font-style:italic;}
.rewards-cart-box{margin-top:0px;margin-bottom:20px;float:left;text-align:left;width:100%;}
.mypoints-redeemcatalog{vertical-align:middle;min-height:280px;}
.mypoints-redeemcatalog .head{text-align:left;}
.mypoints-redeemcatalog .listing{font-size:8pt;height:100%;margin-top:10px;overflow-x:hidden;overflow-y:auto;}
.mypoints-redeemcatalog .noproducts{font-style:italic;margin:100px 30px 0;text-align:center;vertical-align:middle;}
.mypoints-transfers{}
.mypoints-transfers .content TABLE TBODY{height:20px;overflow-x:hidden;}
.mypoints-transfers H2{margin-top:12px;}
.mypoints-summary{}
.mypoints-summary .usable-points{margin-bottom:6px;}
.mypoints-summary .pendingapproval-points{}
.mypoints-summary .pendingevent-points{}
.mypoints-summary .pendingtime-points{}
.mypoints-summary .pending-points{margin-bottom:12px;}
.mypoints-summary .msg{}
.points-summary-emphasize{font-weight:bold;}
.cart-points-total_spent{}
.cart-points-total_spent .warning{color:#FF0000;font-size:8pt;}
.cart-points-total_spent .caption, .cart-points-total_earned .caption{font-weight:bold;}
.cart-points-total_item_discounts .rendering_area{font-weight:bold;}
.rewards-customer-sidebar .warning{color:#FF0000;font-size:8pt;}
.rewards-customer-sidebar .to_spend{}
.rewards-customer-sidebar .remaining{}
.rewards-customer-sidebar .balance{}
.rewards-customer-sidebar .notice{color:#444444;}
.mypoints-transfers{}
.mypoints-transfers .data-table{}
.mypoints-transfers .content{padding:0;}
.points-prediction{margin-top:12px;font-size:8pt;width:100%;}
.points-prediction .as_low_as{width:100%;}
.points-prediction .earnable{}
.order-points-earned .caption{}
.order-points-earned .amount, .order-points-spent .amount, .order-print-points-earned .amount, .order-print-points-spent .amount{font-size:7pt;}
.product-view-points{}
.product-view-points .redeem_section{}
.product-view-points .distri_section{}
.product-view-points .distri_section .you_will_earn{}
.product-view-points .distri_section .points_image{}
.product-view-points{}
.points-special-header{color:#FFFFFF;display:block;}
.points-special-header-ee{position:absolute;right:4px;bottom:54px;width:160px;text-align:right;}
.points-special-header.rwd,
.points-special-header-ee.rwd{color:#FFFFFF;display:inline;position:static;text-align:left;}
.points-multishipping-warning{}
.points-checkout-onepage-sidebox .change-points-usage{float:left;margin-right:7px;margin-left:10px;border-left:1px solid #A7A7A7;padding-left:8px;font-weight:bold;}
.cart-points-total_spent .points-amount{min-width:100px;}
.cart-points-spending_warnings .notice{font-size:8pt;}
.rewards-checkout-onepage-guestwarn{top:-6px;position:relative;font-style:italic;}
.item-points-undername .item-points-header-redeemed, .item-points-undername .item-points-header-earned{float:left;cursor:inherit;color:inherit;padding-right:4px;}
.item-points-undername .item-points-redeemed-section{margin-bottom:4px;}
.item-points-undername{margin-left:4px;padding-top:6px;font-style:italic;}
.rewards-checkout-onepage-guestwarn{border:silver;padding-left:8px;padding-right:8px;text-align:center;padding-top:2px;background-color:#F9F3E3;box-shadow:0px 0px 1px #AAAAAA;padding-bottom:2px;border-style:dotted;border-width:1px;}
.guest-rewards-warning-message{color:#ff0000;text-align:right;}
.slideshow-container{z-index:19;}
.customer-account-create .scaffold-form .rewards_referral_information label:first-child{width:initial;}
.mypoints-summary .box-content{padding-top:5px;}
.product-view .product-shop .price-info.new-price-info{max-width:initial;clear:right;overflow:auto;}
.product-view .price .using-points{font-weight:bold;font-size:13px;}
.cart .item-points-undername{white-space:nowrap;overflow:visible;}
.cart .item-points-undername img{display:inline;padding-left:4px;}
.cart-forms .rewards-box-spend-minicart h2{font-size:12px;font-weight:bold;margin:0 0 5px;}
.rewards-box-spend-minicart .slider table{margin:auto;}
.points-prediction table{font-size:8pt;font-weight:300;margin-bottom:20px;}
.points-prediction.rwd table{margin-left:auto;margin-right:auto;}
.rewards-special-review-summary{clear:both;margin-bottom:20px;}
.rewards_referral_information.rwd label{display:block;}
.mypoints-sendfriend .form-list textarea{max-height:11em;}
.mypoints-sendfriend .form-list > li{margin-bottom:10px;}
.mypoints-transfers-earnings .arrow,
.mypoints-transfers-spendings .arrow{display:inline;}
.rewards-product-view-points .divider{clear:both;display:block;height:1px;margin:10px 0;}
.mypoints-page .clearer:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.info-box{margin-bottom:10px;}
.info-box .form-list .input-box{width:90%;}
.info-box .form-list textarea{width:100%;}
.info-box .form-list label{text-align:left;}
.info-box.mypoints-sendfriend, .info-box.mypoints-redeemcatalog{min-height:355px;}
.info-box.mypoints-redeemcatalog .noproducts{margin-top:130px;}
.rewards-special-signup-birthday,
.rewards-special-signup-birthday-ee{margin-bottom:20px;font-size:12px;}
.rewards-special-signup-birthday-ee{margin-left:240px;}