<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Freegift>
            <version>0.1.1</version>
        </Tatva_Freegift>
    </modules>
    <frontend>
        <routers>
            <!--<checkout>
                <args>
                    <modules>
                        <Tatva_Freegift before="Mage_Checkout">Tatva_Freegift</Tatva_Freegift>
                    </modules>
                </args>
            </checkout>-->
        </routers>
       <!-- <layout>
            <updates>
                <freegift>
                    <file>freegift.xml</file>
                </freegift>
            </updates>
        </layout>-->
		 <events>
            <sales_order_save_after>
                <observers>
                    <freegift_save_order>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>updateAlsobought</method>
                    </freegift_save_order>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tatva_Freegift before="Mage_Adminhtml">Tatva_Freegift</Tatva_Freegift>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
     <events>
            <catalog_product_prepare_save>
                <observers>
                    <freegift_init_save_product>
                        <type>singleton</type>
                        <class>freegift/observer</class>
                        <method>initSaveProduct</method>
                    </freegift_init_save_product>
                </observers>
            </catalog_product_prepare_save>
        </events>
		<layout>
			<updates>
				<freegift>
					<file>freegift.xml</file>
				</freegift>
			</updates>
		</layout>
		
    </adminhtml>   
    <global>
        <models>
            <freegift>
                <class>Tatva_Freegift_Model</class>
                <resourceModel>freegift_mysql4</resourceModel>
            </freegift>
            <freegift_mysql4>
                <class>Tatva_Freegift_Model_Mysql4</class>
                <entities>
                    <freegift>
                        <table>freegift</table>
                    </freegift>
                </entities>
            </freegift_mysql4>
			<catalog>
				<rewrite>
					<product_link>Tatva_Freegift_Model_Product_Link</product_link>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <freegift_setup>
                <setup>
                    <module>Tatva_Freegift</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </freegift_setup>
            <freegift_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </freegift_write>
            <freegift_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </freegift_read>
        </resources>
        <blocks>
			<freegift>
                <class>Tatva_Freegift_Block</class>
            </freegift>
        </blocks>
        <helpers>
            <freegift>
                <class>Tatva_Freegift_Helper</class>
            </freegift>
        </helpers>
		
    </global>
</config>