<?xml version="1.0"?>
<config>
    <modules>
        <MDN_Mpm>
            <version>1.4.3</version>
        </MDN_Mpm>
    </modules>
    <global>
        <helpers>
            <Mpm>
                <class>MDN_Mpm_Helper</class>
            </Mpm>
        </helpers>
        <blocks>
            <Mpm>
                <class>MDN_Mpm_Block</class>
            </Mpm>
        </blocks>
        <models>
            <Mpm>
                <class>MDN_Mpm_Model</class>
                <resourceModel>Mpm_mysql4</resourceModel>
            </Mpm>
            <Mpm_mysql4>
                <class>MDN_Mpm_Model_Mysql4</class>
                <entities>
                    <Commission>
                        <table>mpm_commission</table>
                    </Commission>
                    <Queue>
                        <table>mpm_queue</table>
                    </Queue>
                    <Rule>
                        <table>mpm_rules</table>
                    </Rule>
                    <PricingLog>
                        <table>mpm_pricing_log</table>
                    </PricingLog>
                    <Report>
                        <table>mpm_reports</table>
                    </Report>
                    <Rule_Product>
                        <table>mpm_rules_products</table>
                    </Rule_Product>
                    <Product_Offer>
                        <table>mpm_product_offers</table>
                    </Product_Offer>
                    <Product_Setting>
                        <table>mpm_product_settings</table>
                    </Product_Setting>
                    <Stat>
                        <table>mpm_stats</table>
                    </Stat>
                </entities>
            </Mpm_mysql4>
        </models>
        <resources>
            <Bmsmpm_setup>
                <setup>
                    <module>MDN_Mpm</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Bmsmpm_setup>
            <Mpm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Mpm_write>
            <Mpm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Mpm_read>
        </resources>
        <events>
            <admin_system_config_changed_section_mpm>
                <observers>
                    <Mpm>
                        <type>singleton</type>
                        <class>Mpm/observer</class>
                        <method>configuration_changed</method>
                    </Mpm>
                </observers>
            </admin_system_config_changed_section_mpm>
            <controller_action_layout_render_before_adminhtml_system_config_edit>
                <observers>
                    <Mpm>
                        <type>singleton</type>
                        <class>Mpm/observer</class>
                        <method>configuration_edit</method>
                    </Mpm>
                </observers>
            </controller_action_layout_render_before_adminhtml_system_config_edit>
            <catalog_product_save_after>
                <observers>
                    <Mpm>
                        <type>singleton</type>
                        <class>Mpm/observer</class>
                        <method>productChanged</method>
                    </Mpm>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Mpm>
                    <file>Mpm.xml</file>
                </Mpm>
            </updates>
        </layout>
        <translate>
            <modules>
                <MDN_Mpm>
                    <files>
                        <default>MDN_Mpm.csv</default>
                    </files>
                </MDN_Mpm>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mpm before="Mage_Adminhtml">MDN_Mpm_Adminhtml</Mpm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend></frontend>
    <crontab>
        <jobs>
            <bmsperformance_catalog_export>
                <schedule><cron_expr>0 21 * * *</cron_expr></schedule>
                <run><model>Mpm/Observer::exportCatalog</model></run>
            </bmsperformance_catalog_export>
            <import_pricing>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>Mpm/Observer::importPricing</model></run>
            </import_pricing>
            <run_queue>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>Mpm/Observer::queue</model></run>
            </run_queue>
            <clean_attributes>
                <schedule><cron_expr>0 23 * * *</cron_expr></schedule>
                <run><model>Mpm/Observer::cleanAttributes</model></run>
            </clean_attributes>
        </jobs>
    </crontab>
    <default>
        <mpm>
            <repricing>
                <change_product_updated_at>1</change_product_updated_at>
                <test_mode>1</test_mode>
                <base_cost_formula>{cost} + {shipping}</base_cost_formula>
                <standard_min_margin>30</standard_min_margin>
                <aggressive_min_margin>10</aggressive_min_margin>
                <no_competitor_margin>100</no_competitor_margin>
            </repricing>
            <offers_import>
                <enable_cron>1</enable_cron>
            </offers_import>
        </mpm>
    </default>
</config>