<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Marqueproducts>
            <version>0.1.0</version>
        </Tatva_Marqueproducts>
    </modules>
    <admin>
        <routers>
			<marqueproducts>
				<use>admin</use>
				<args>
					<module>Tatva_Marqueproducts</module>
					<frontName>marqueproducts</frontName>
				</args>
			</marqueproducts>
        </routers>
    </admin>
    <global>
        <resources>
            <marqueproducts_setup>
                <setup>
                    <module>Tatva_Marqueproducts</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marqueproducts_setup>
            <marqueproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marqueproducts_write>
            <marqueproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marqueproducts_read>
        </resources>
        <models>
            <marqueproducts>
                <class>Tatva_Marqueproducts_mysql4_Model</class>
            </marqueproducts>
            <marqueproducts_mysql4>
                <class>Tatva_Marqueproducts_mysql4_Model_Mysql4</class>
                <entities>
                    <marqueproducts>
                        <table>marqueproducts</table>
                    </marqueproducts>
                </entities>
            </marqueproducts_mysql4>
        </models>
        <helpers>
            <marqueproducts>
                <class>Tatva_Marqueproducts_Helper</class>
            </marqueproducts>
        </helpers>
    </global>
</config>