<?xml version="1.0"?>
<config>
    <modules>
        <Phpro_Translate>
            <version>1.1.3</version>
        </Phpro_Translate>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Phpro_Translate />
            </modules>
        </suite>
    </phpunit>
    <global>
        <helpers>
            <translate>
                <class>Phpro_Translate_Helper</class>
            </translate>
        </helpers>
        <blocks>
            <translate>
                <class>Phpro_Translate_Block</class>
            </translate>
        </blocks>
        <models>
            <core>
                <rewrite>
                    <translate>Phpro_Translate_Model_Translator</translate>
                </rewrite>
            </core>
            <translate>
                <class>Phpro_Translate_Model</class>
                <resourceModel>translate_mysql4</resourceModel>
            </translate>
            <translate_mysql4>
                <class>Phpro_Translate_Model_Mysql4</class>
                <entities>
                    <translate>
                        <table>phpro_translate</table>
                    </translate>
                </entities>
            </translate_mysql4>
        </models>
        <resources>
            <translate_setup>
                <setup>
                    <module>Phpro_Translate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </translate_setup>
            <translate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </translate_write>
            <translate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </translate_read>
        </resources>
    </global>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <phpro_translate module="translate">
                        <title>PHPro Translate</title>
                        <action>translate/translations</action>
                    </phpro_translate>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <translate>
                    <file>translate.xml</file>
                </translate>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <phpro_translate>
                                    <title>PHPro Translate Module</title>
                                </phpro_translate>
                                <config>
                                    <children>
                                        <translate translate="title" module="translate">
                                            <title>PHPro Translate Configuration</title>
                                        </translate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Phpro_Translate>
                    <files>
                        <default>Phpro_Translate.csv</default>
                    </files>
                </Phpro_Translate>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <translate>
                <use>admin</use>
                <args>
                    <module>Phpro_Translate</module>
                    <frontName>translate</frontName>
                </args>
            </translate>
        </routers>
    </admin>
</config>