<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWImageOpt>
            <version>1.1.7</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewimageopt/adminhtml_config/index</configure_url>
            </extendware>
        </Extendware_EWImageOpt>
    </modules>
    <admin>
        <routers>
			<extendware_ewimageopt>
				<use>admin</use>
				<args>
					<module>Extendware_EWImageOpt</module>
					<frontName>extendware_ewimageopt</frontName>
				</args>
			</extendware_ewimageopt>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWImageOpt>
					<files>
						<default>extendware/Extendware_EWImageOpt.csv</default>
					</files>
				</Extendware_EWImageOpt>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewimageopt>
					<file>extendware/ewimageopt.xml</file>
				</ewimageopt>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
    <global>
        <models>
            <ewimageopt>
                <class>Extendware_EWImageOpt_Model</class>
            </ewimageopt>
        </models>
        <blocks>
			<ewimageopt>
                <class>Extendware_EWImageOpt_Block</class>
            </ewimageopt>
        </blocks>
		<helpers>
			<ewimageopt>
				<class>Extendware_EWImageOpt_Helper</class>
			</ewimageopt>
		</helpers>
		<resources></resources>
		<events></events>
		<template></template>
    </global>
    <input></input>
    <crontab>
    	<jobs>
			<ewimageopt_optimizeImages>
				<!-- every 2 hours - change if you want it to be more frequent -->
	            <schedule><cron_expr>*/43 */2 * * *</cron_expr></schedule>
	            <run><model>ewimageopt/observer::optimizeImagesCronjob</model></run>
	        </ewimageopt_optimizeImages>
		</jobs>
	</crontab>
	<default>
		<ewimageopt>
			<general>
				<filemtime_enabled>1</filemtime_enabled>
				<lock_time>1800</lock_time>
			</general>
			<frontend_images>
				<catalog_image_seo_enabled>1</catalog_image_seo_enabled>
                <css_image_cache_enabled>1</css_image_cache_enabled>
                <catalog_image_cache_enabled>1</catalog_image_cache_enabled>
                <template_image_cache_enabled>1</template_image_cache_enabled>
                <skin_image_cache_enabled>1</skin_image_cache_enabled>
                <css_image_optimizing_enabled>0</css_image_optimizing_enabled>
                <template_image_optimizing_enabled>0</template_image_optimizing_enabled>
                <catalog_image_optimizing_enabled>0</catalog_image_optimizing_enabled>
                <skin_image_optimizing_enabled>0</skin_image_optimizing_enabled>
			</frontend_images>
			<developer>
				<optimizer_mode>cronjob</optimizer_mode>
                <gif_optimizer><![CDATA[smushit]]></gif_optimizer>
                <jpg_optimizer><![CDATA[smushit]]></jpg_optimizer>
                <png_optimizer><![CDATA[smushit]]></png_optimizer>
                <verbose_log>0</verbose_log>
                <log_enabled>1</log_enabled>
                <magento_cron>1</magento_cron>
			</developer>
		</ewimageopt>
		<ewimageopt_advanced>
			<custom_path>
				<js>js</js>
				<slug>extendware/ewimageopt</slug>
			</custom_path>
		</ewimageopt_advanced>
	</default>
	<extendware>
		<override>
			<model>
           		<mage_core_design_package_ewminfy_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Design_Package</class></search>
           			<replace>
           				<class>Extendware_EWImageOpt_Model_Override_Mage_Core_Design_Package</class>
            			<order>100</order>
           			</replace>
           		</mage_core_design_package_ewminfy_override>
           		<mage_catalog_product_image_override_ewimageopt_override>
					<mode>extendware</mode>
					<search><class>Mage_Catalog_Model_Product_Image</class></search>
					<replace>
						<class>Extendware_EWImageOpt_Model_Override_Mage_Catalog_Product_Image</class>
						<order>100</order>
					</replace>
				</mage_catalog_product_image_override_ewimageopt_override>
				<mage_core_email_template_filter_override_ewimageopt_override>
					<mode>extendware</mode>
					<search><class>Mage_Core_Model_Email_Template_Filter</class></search>
					<replace>
						<class>Extendware_EWImageOpt_Model_Override_Mage_Core_Email_Template_Filter</class>
						<order>100</order>
					</replace>
				</mage_core_email_template_filter_override_ewimageopt_override>
			</model>
			<helper>
				<mage_catalog_image_override_ewimageopt_override>
					<mode>extendware</mode>
					<search><class>Mage_Catalog_Helper_Image</class></search>
					<replace>
						<class>Extendware_EWImageOpt_Helper_Override_Mage_Image</class>
						<order>100</order>
					</replace>
				</mage_catalog_image_override_ewimageopt_override>
			</helper>
	   </override>
	</extendware>
</config>
