<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Adminhtml>
            <version>0.1.0</version>
        </Tatva_Adminhtml>
    </modules>	
	<global>
	<blocks>
    		<tatvaadminhtml>
    			<class>Tatva_Adminhtml_Block</class>
    		</tatvaadminhtml>
			<adminhtml>
				<rewrite>
				<sales_invoice_grid>Tatva_Adminhtml_Block_Sales_Invoice_Grid</sales_invoice_grid>
				<sales_creditmemo_grid>Tatva_Adminhtml_Block_Sales_Creditmemo_Grid</sales_creditmemo_grid> 
			  <!--	<catalog_product_grid>Tatva_Adminhtml_Block_Catalog_Product_Grid</catalog_product_grid>-->
				<customer_grid>Tatva_Adminhtml_Block_Customer_Grid</customer_grid>
				<system_config_form_field_array_abstract>Tatva_Adminhtml_Block_System_Config_Form_Field_Array_Abstract</system_config_form_field_array_abstract>
				<sales_shipment_grid>Tatva_Adminhtml_Block_Sales_Shipment_Grid</sales_shipment_grid>
                <promo_catalog_edit_tab_main>Tatva_Adminhtml_Block_Promo_Catalog_Edit_Tab_Main</promo_catalog_edit_tab_main>
				</rewrite>
    		</adminhtml>
    	</blocks>
    <models>
      <tatvaadminhtml>
      <class>Tatva_Adminhtml_Model</class>
      </tatvaadminhtml>
    </models>
	</global>
	<frontend>
    <routers>
            <tatva_adminhtml>
                <use>standard</use>
                <args>
                    <module>Tatva_Adminhtml</module>
                    <frontName>adminhtml</frontName>
                </args>
            </tatva_adminhtml>
        </routers>
    </frontend>
    <admin>
	<routers>
			<tatva_adminhtml>
				<use>admin</use>
				<args>
					<module>Tatva_Adminhtml</module>
					<frontName>adminhtml</frontName>
				</args>
			</tatva_adminhtml>
			<adminhtml>
                <args>
                    <modules>
                        <Tatva_Adminhtml before="Mage_Adminhtml">Tatva_Adminhtml</Tatva_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
	</routers>
    </admin>	
	<translate>
            <modules>
                <Tatva_Adminhtml>
                    <files>
                        <default>Tatva_Adminhtml.csv</default>
                    </files>
                </Tatva_Adminhtml>
            </modules>
    </translate>
	<stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>custom</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>