<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Tatva_Payment>
			<version>0.1.3</version>
		</Tatva_Payment>
	</modules>
	<global>
		<models>
			<tatvapayment>
				<class>Tatva_Payment_Model</class>
			</tatvapayment>		
		</models>
		<blocks>
			<tatvapayment>
				<class>Tatva_Payment_Block</class>
			</tatvapayment>
		</blocks>
		<resources>
            <tatvapayment_setup>
                <setup>
                    <module>Tatva_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tatvapayment_setup>
            <tatvapayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tatvapayment_write>
            <tatvapayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tatvapayment_read>
        </resources>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Tatva_Payment>
					<files>
						<default>Tatva_Payment.csv</default>
					</files>
				</Tatva_Payment>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<payment>
			<marketplaces_partner>
				<active>0</active>
				<model>tatvapayment/method_partner</model>
				<title>Partenaire</title>
			</marketplaces_partner>
		</payment>
	</default>
</config>