.box-brand a{margin:0 auto;display:block;}
.box-brand img{margin:0 auto;display:block;}
.box-brand .brand-name{}
.box-brand .brand-name .label{}
.brand-slider .item{padding-bottom:20px;padding-top:20px;text-align:center;}
.brand-slider .owl-item.loading{min-height:60px;}
.product-secondary-column .box-brand .attribute{font-size:1.25em;font-weight:bold;line-height:1.2em;margin:10px 0;text-align:center;}