.rewards-mini-icon-holder{padding-right:6px;width:16px;vertical-align:bottom;}
.points-prediction .free_with_points{}
.price-box .old-price{color:#aaaaaa;font-weight:bold;text-decoration:line-through;}