<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWMPAction>
			<version>1.4.7</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewmpaction_config/index</configure_url>
            </extendware>
		</Extendware_EWMPAction>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewmpaction after="Mage_Adminhtml">Extendware_EWMPAction</extendware_ewmpaction>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWMPAction>
					<files>
						<default>extendware/Extendware_EWMPAction.csv</default>
					</files>
				</Extendware_EWMPAction>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewmpaction>
					<file>extendware/ewmpaction.xml</file>
				</ewmpaction>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		<routers></routers>
    </frontend>
	<global>
		<models>
			<ewmpaction>
				<class>Extendware_EWMPAction_Model</class>
				<resourceModel>ewmpaction_mysql4</resourceModel>
			</ewmpaction>
			<ewmpaction_mysql4>
                <class>Extendware_EWMPAction_Model_Mysql4</class>
                <entities/>
            </ewmpaction_mysql4>
		</models>
		<blocks>
			<ewmpaction>
                <class>Extendware_EWMPAction_Block</class>
            </ewmpaction>
		</blocks>
		<helpers>
			<ewmpaction>
				<class>Extendware_EWMPAction_Helper</class>
			</ewmpaction>
		</helpers>
		<resources>
			<ewmpaction_setup>
				<setup>
					<module>Extendware_EWMPAction</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewmpaction_setup>
			<ewmpaction_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewmpaction_write>
            <ewmpaction_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewmpaction_read>
		</resources>
		<events>
			<ewmpaction_product_grid_prepare_massaction>
				<observers>
					<ewmpaction>
						<type>singleton</type>
						<class>Extendware_EWMPAction_Model_Observer</class>
						<method>prepareProductGridMassaction</method>
					</ewmpaction>
				</observers>
			</ewmpaction_product_grid_prepare_massaction>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
		<ewmpaction>
			<general>
				<status>1</status>
				<description_alert_status>1</description_alert_status>
				<confirmation_status>1</confirmation_status>
				<category_tree_status>1</category_tree_status>
				<disabled_actions></disabled_actions>
				<custom_price_attributes><![CDATA[a:2:{s:18:"_1414433836873_873";a:1:{s:2:"id";s:4:"cost";}s:18:"_1416428117145_145";a:1:{s:2:"id";s:4:"msrp";}}]]></custom_price_attributes>
			</general>
		</ewmpaction>
	</default>
	<extendware>
		<override>
           	<block>
           		<mage_catalog_product_grid_ewmpaction_override>
           			<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Catalog_Product_Grid</class></search>
					<replace>
						<class>Extendware_EWMPAction_Block_Override_Mage_Catalog_Product_Grid</class>
						<order>100</order>
					</replace>
				</mage_catalog_product_grid_ewmpaction_override>
				<tbt_enhancedgrid_catalog_product_grid_ewmpaction_override>
           			<mode>extendware</mode>
					<search><class>TBT_Enhancedgrid_Block_Catalog_Product_Grid</class></search>
					<replace>
						<class>Extendware_EWMPAction_Block_Override_TBT_Enhancedgrid_Catalog_Product_Grid</class>
						<order>100</order>
					</replace>
				</tbt_enhancedgrid_catalog_product_grid_ewmpaction_override>
           	</block>
		</override>
	</extendware>
</config>
