<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tatva_TransferPayment>
            <version>0.1.0</version>
        </Tatva_TransferPayment>
    </modules>
    <global>
        <blocks>
            <transferpayment>
                <class>Tatva_TransferPayment_Block</class>
            </transferpayment>
        </blocks>
        <helpers>
            <transferpayment>
                <class>Tatva_TransferPayment_Helper</class>
            </transferpayment>
        </helpers>
        <models>
            <transferpayment>
                <class>Tatva_TransferPayment_Model</class>
            </transferpayment>
        </models>
        <resources>
            <transferpayment_setup>
                <setup>
                    <module>Tatva_TransferPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </transferpayment_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Tatva_TransferPayment>
                    <files>
                        <default>Tatva_TransferPayment.csv</default>
                    </files>
                </Tatva_TransferPayment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Tatva_TransferPayment>
                    <files>
                        <default>Tatva_TransferPayment.csv</default>
                    </files>
                </Tatva_TransferPayment>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <transferpayment>
                <active>1</active>
                <model>transferpayment/method_transferPayment</model>
                <order_status>pending</order_status>
                <title>Virement</title>
                <allowspecific>0</allowspecific>
                <cmsblock>paiement_virement</cmsblock>
                <sort_order>2</sort_order>
            </transferpayment>
            <rueducommerce>
                <active>1</active>
                <model>transferpayment/method_rueducommerce</model>
                <order_status>pending</order_status>
                <title>RueDuCommerce</title>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
            </rueducommerce>
            <pixmania>
                <active>1</active>
                <model>transferpayment/method_pixmania</model>
                <order_status>pending</order_status>
                <title>PIXmania</title>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
            </pixmania>
            <mandatadministratif>
                <active>1</active>
                <model>transferpayment/method_mandatadministratif</model>
                <order_status>pending</order_status>
                <title>Mandat Administratif</title>
                <allowspecific>0</allowspecific>
                <sort_order>5</sort_order>
                <cmsblock>paiement_mandatadministratif</cmsblock>
            </mandatadministratif>
        </payment>
    </default>
</config>