<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Advice>
            <version>0.1.1</version>
        </Tatva_Advice>
    </modules>
    <frontend>
        <routers>
            <advice>
                <use>standard</use>
                <args>
                    <module>Tatva_Advice</module>
                    <frontName>advice</frontName>
                </args>
            </advice>
        </routers>
        <layout>
            <updates>
                <advice>
                    <file>advice.xml</file>
                </advice>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<advice>
				<use>admin</use>
				<args>
					<module>Tatva_Advice</module>
					<frontName>advice</frontName>
				</args>
			</advice>
        </routers>
    </admin>
    <adminhtml>
	    <routers>
			<advice>
				<use>standard</use>
				<args>
					<module>Tatva_Advice</module>
					<frontName>advice</frontName>
				</args>
			</advice>
		</routers>
		<translate>
			<modules>
				<Tatva_Advice>
					<files>
						<default>Tatva_Catalog.csv</default>
					</files>
				</Tatva_Advice>
			</modules>
		</translate>
		<layout>
			<updates>
				<advice>
					<file>advice.xml</file>
				</advice>
			</updates>
		</layout>
		<menu>
			<tatva>
				<children>
					<advice translate="title" module="advice">
						<title>Add Advice</title>
						<sort_order>60</sort_order>
						<action>advice/adminhtml_advice</action>
					</advice>
				</children>
			</tatva>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<azboutique>
							<children>
								<advice translate="title" module="advice">
									<title>Add Advice</title>
									<sort_order>60</sort_order>
								</advice>
							</children>
						</azboutique>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    <global>
        <models>
            <advice>
                <class>Tatva_Advice_Model</class>
                <resourceModel>advice_mysql4</resourceModel>
            </advice>
            <advice_mysql4>
                <class>Tatva_Advice_Model_Mysql4</class>
                <entities>
                    <advice>
                        <table>advice</table>
                    </advice>
                </entities>
            </advice_mysql4>
        </models>
        <resources>
            <advice_setup>
                <setup>
                    <module>Tatva_Advice</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advice_setup>
            <advice_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advice_write>
            <advice_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advice_read>
        </resources>
        <blocks>
            <advice>
                <class>Tatva_Advice_Block</class>
            </advice>
        </blocks>
        <helpers>
            <advice>
                <class>Tatva_Advice_Helper</class>
            </advice>
        </helpers>
    </global>
</config>