
.mfv-5772 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5772 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-5772 { background-image: url(../m-image/c/9/argent.jpg); }
.mfv-5772 .m-layer1 { background-image: none; }

.mfv-5772.hovered { background-image: none; }
.mfv-5772.hovered .m-layer1 { background-image: none; }

.mfv-5772.selected { background-image: none; }
.mfv-5772.selected .m-layer1 { background-image: none; }

.mfv-5772.selected.hovered { background-image: none; }
.mfv-5772.selected.hovered .m-layer1 { background-image: none; }
.mfv-5772-state,
.mfv-5772-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5772-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-5772-state { background-image: none; }
.mfv-5772-state .m-layer1 { background-image: none; }

.mfv-5773 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5773 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #fff8ca;
}

.mfv-5773 { background-image: none; }
.mfv-5773 .m-layer1 { background-image: none; }

.mfv-5773.hovered { background-image: none; }
.mfv-5773.hovered .m-layer1 { background-image: none; }

.mfv-5773.selected { background-image: none; }
.mfv-5773.selected .m-layer1 { background-image: none; }

.mfv-5773.selected.hovered { background-image: none; }
.mfv-5773.selected.hovered .m-layer1 { background-image: none; }
.mfv-5773-state,
.mfv-5773-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5773-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff8ca;
}

.mfv-5773-state { background-image: none; }
.mfv-5773-state .m-layer1 { background-image: none; }

.mfv-5774 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5774 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.mfv-5774 { background-image: none; }
.mfv-5774 .m-layer1 { background-image: none; }

.mfv-5774.hovered { background-image: none; }
.mfv-5774.hovered .m-layer1 { background-image: none; }

.mfv-5774.selected { background-image: none; }
.mfv-5774.selected .m-layer1 { background-image: none; }

.mfv-5774.selected.hovered { background-image: none; }
.mfv-5774.selected.hovered .m-layer1 { background-image: none; }
.mfv-5774-state,
.mfv-5774-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5774-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.mfv-5774-state { background-image: none; }
.mfv-5774-state .m-layer1 { background-image: none; }

.mfv-5775 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5775 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #a40005;
}

.mfv-5775 { background-image: none; }
.mfv-5775 .m-layer1 { background-image: none; }

.mfv-5775.hovered { background-image: none; }
.mfv-5775.hovered .m-layer1 { background-image: none; }

.mfv-5775.selected { background-image: none; }
.mfv-5775.selected .m-layer1 { background-image: none; }

.mfv-5775.selected.hovered { background-image: none; }
.mfv-5775.selected.hovered .m-layer1 { background-image: none; }
.mfv-5775-state,
.mfv-5775-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5775-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #a40005;
}

.mfv-5775-state { background-image: none; }
.mfv-5775-state .m-layer1 { background-image: none; }

.mfv-5776 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5776 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
}

.mfv-5776 { background-image: none; }
.mfv-5776 .m-layer1 { background-image: none; }

.mfv-5776.hovered { background-image: none; }
.mfv-5776.hovered .m-layer1 { background-image: none; }

.mfv-5776.selected { background-image: none; }
.mfv-5776.selected .m-layer1 { background-image: none; }

.mfv-5776.selected.hovered { background-image: none; }
.mfv-5776.selected.hovered .m-layer1 { background-image: none; }
.mfv-5776-state,
.mfv-5776-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5776-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #c4c4c4;
}

.mfv-5776-state { background-image: none; }
.mfv-5776-state .m-layer1 { background-image: none; }

.mfv-5777 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5777 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-5777 { background-image: url(../m-image/3/1/inox.jpg); }
.mfv-5777 .m-layer1 { background-image: none; }

.mfv-5777.hovered { background-image: none; }
.mfv-5777.hovered .m-layer1 { background-image: none; }

.mfv-5777.selected { background-image: none; }
.mfv-5777.selected .m-layer1 { background-image: none; }

.mfv-5777.selected.hovered { background-image: none; }
.mfv-5777.selected.hovered .m-layer1 { background-image: none; }
.mfv-5777-state,
.mfv-5777-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5777-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-5777-state { background-image: none; }
.mfv-5777-state .m-layer1 { background-image: none; }

.mfv-5778 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5778 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #ffff52;
}

.mfv-5778 { background-image: none; }
.mfv-5778 .m-layer1 { background-image: none; }

.mfv-5778.hovered { background-image: none; }
.mfv-5778.hovered .m-layer1 { background-image: none; }

.mfv-5778.selected { background-image: none; }
.mfv-5778.selected .m-layer1 { background-image: none; }

.mfv-5778.selected.hovered { background-image: none; }
.mfv-5778.selected.hovered .m-layer1 { background-image: none; }
.mfv-5778-state,
.mfv-5778-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5778-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffff52;
}

.mfv-5778-state { background-image: none; }
.mfv-5778-state .m-layer1 { background-image: none; }

.mfv-5779 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5779 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #f6c9ff;
}

.mfv-5779 { background-image: none; }
.mfv-5779 .m-layer1 { background-image: none; }

.mfv-5779.hovered { background-image: none; }
.mfv-5779.hovered .m-layer1 { background-image: none; }

.mfv-5779.selected { background-image: none; }
.mfv-5779.selected .m-layer1 { background-image: none; }

.mfv-5779.selected.hovered { background-image: none; }
.mfv-5779.selected.hovered .m-layer1 { background-image: none; }
.mfv-5779-state,
.mfv-5779-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5779-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f6c9ff;
}

.mfv-5779-state { background-image: none; }
.mfv-5779-state .m-layer1 { background-image: none; }

.mfv-5780 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5780 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #4c2b11;
}

.mfv-5780 { background-image: none; }
.mfv-5780 .m-layer1 { background-image: none; }

.mfv-5780.hovered { background-image: none; }
.mfv-5780.hovered .m-layer1 { background-image: none; }

.mfv-5780.selected { background-image: none; }
.mfv-5780.selected .m-layer1 { background-image: none; }

.mfv-5780.selected.hovered { background-image: none; }
.mfv-5780.selected.hovered .m-layer1 { background-image: none; }
.mfv-5780-state,
.mfv-5780-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5780-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #4c2b11;
}

.mfv-5780-state { background-image: none; }
.mfv-5780-state .m-layer1 { background-image: none; }

.mfv-5781 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5781 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-5781 { background-image: url(../m-image/6/d/multicolore.jpg); }
.mfv-5781 .m-layer1 { background-image: none; }

.mfv-5781.hovered { background-image: none; }
.mfv-5781.hovered .m-layer1 { background-image: none; }

.mfv-5781.selected { background-image: none; }
.mfv-5781.selected .m-layer1 { background-image: none; }

.mfv-5781.selected.hovered { background-image: none; }
.mfv-5781.selected.hovered .m-layer1 { background-image: none; }
.mfv-5781-state,
.mfv-5781-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5781-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-5781-state { background-image: none; }
.mfv-5781-state .m-layer1 { background-image: none; }

.mfv-5782 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5782 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #000000;
}

.mfv-5782 { background-image: none; }
.mfv-5782 .m-layer1 { background-image: none; }

.mfv-5782.hovered { background-image: none; }
.mfv-5782.hovered .m-layer1 { background-image: none; }

.mfv-5782.selected { background-image: none; }
.mfv-5782.selected .m-layer1 { background-image: none; }

.mfv-5782.selected.hovered { background-image: none; }
.mfv-5782.selected.hovered .m-layer1 { background-image: none; }
.mfv-5782-state,
.mfv-5782-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5782-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.mfv-5782-state { background-image: none; }
.mfv-5782-state .m-layer1 { background-image: none; }

.mfv-5783 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5783 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-5783 { background-image: url(../m-image/3/f/or.jpg); }
.mfv-5783 .m-layer1 { background-image: none; }

.mfv-5783.hovered { background-image: none; }
.mfv-5783.hovered .m-layer1 { background-image: none; }

.mfv-5783.selected { background-image: none; }
.mfv-5783.selected .m-layer1 { background-image: none; }

.mfv-5783.selected.hovered { background-image: none; }
.mfv-5783.selected.hovered .m-layer1 { background-image: none; }
.mfv-5783-state,
.mfv-5783-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5783-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-5783-state { background-image: none; }
.mfv-5783-state .m-layer1 { background-image: none; }

.mfv-5784 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5784 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #ff9c09;
}

.mfv-5784 { background-image: none; }
.mfv-5784 .m-layer1 { background-image: none; }

.mfv-5784.hovered { background-image: none; }
.mfv-5784.hovered .m-layer1 { background-image: none; }

.mfv-5784.selected { background-image: none; }
.mfv-5784.selected .m-layer1 { background-image: none; }

.mfv-5784.selected.hovered { background-image: none; }
.mfv-5784.selected.hovered .m-layer1 { background-image: none; }
.mfv-5784-state,
.mfv-5784-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5784-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff9c09;
}

.mfv-5784-state { background-image: none; }
.mfv-5784-state .m-layer1 { background-image: none; }

.mfv-5785 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5785 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #ffa5ad;
}

.mfv-5785 { background-image: none; }
.mfv-5785 .m-layer1 { background-image: none; }

.mfv-5785.hovered { background-image: none; }
.mfv-5785.hovered .m-layer1 { background-image: none; }

.mfv-5785.selected { background-image: none; }
.mfv-5785.selected .m-layer1 { background-image: none; }

.mfv-5785.selected.hovered { background-image: none; }
.mfv-5785.selected.hovered .m-layer1 { background-image: none; }
.mfv-5785-state,
.mfv-5785-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5785-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffa5ad;
}

.mfv-5785-state { background-image: none; }
.mfv-5785-state .m-layer1 { background-image: none; }

.mfv-5786 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5786 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #ff2936;
}

.mfv-5786 { background-image: none; }
.mfv-5786 .m-layer1 { background-image: none; }

.mfv-5786.hovered { background-image: none; }
.mfv-5786.hovered .m-layer1 { background-image: none; }

.mfv-5786.selected { background-image: none; }
.mfv-5786.selected .m-layer1 { background-image: none; }

.mfv-5786.selected.hovered { background-image: none; }
.mfv-5786.selected.hovered .m-layer1 { background-image: none; }
.mfv-5786-state,
.mfv-5786-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5786-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff2936;
}

.mfv-5786-state { background-image: none; }
.mfv-5786-state .m-layer1 { background-image: none; }

.mfv-5787 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5787 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #f6ffff;
}

.mfv-5787 { background-image: none; }
.mfv-5787 .m-layer1 { background-image: none; }

.mfv-5787.hovered { background-image: none; }
.mfv-5787.hovered .m-layer1 { background-image: none; }

.mfv-5787.selected { background-image: none; }
.mfv-5787.selected .m-layer1 { background-image: none; }

.mfv-5787.selected.hovered { background-image: none; }
.mfv-5787.selected.hovered .m-layer1 { background-image: none; }
.mfv-5787-state,
.mfv-5787-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5787-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f6ffff;
}

.mfv-5787-state { background-image: none; }
.mfv-5787-state .m-layer1 { background-image: none; }

.mfv-5788 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5788 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #009c14;
}

.mfv-5788 { background-image: none; }
.mfv-5788 .m-layer1 { background-image: none; }

.mfv-5788.hovered { background-image: none; }
.mfv-5788.hovered .m-layer1 { background-image: none; }

.mfv-5788.selected { background-image: none; }
.mfv-5788.selected .m-layer1 { background-image: none; }

.mfv-5788.selected.hovered { background-image: none; }
.mfv-5788.selected.hovered .m-layer1 { background-image: none; }
.mfv-5788-state,
.mfv-5788-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5788-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #009c14;
}

.mfv-5788-state { background-image: none; }
.mfv-5788-state .m-layer1 { background-image: none; }

.mfv-5789 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5789 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #b200c4;
}

.mfv-5789 { background-image: none; }
.mfv-5789 .m-layer1 { background-image: none; }

.mfv-5789.hovered { background-image: none; }
.mfv-5789.hovered .m-layer1 { background-image: none; }

.mfv-5789.selected { background-image: none; }
.mfv-5789.selected .m-layer1 { background-image: none; }

.mfv-5789.selected.hovered { background-image: none; }
.mfv-5789.selected.hovered .m-layer1 { background-image: none; }
.mfv-5789-state,
.mfv-5789-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5789-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #b200c4;
}

.mfv-5789-state { background-image: none; }
.mfv-5789-state .m-layer1 { background-image: none; }

.mfv-5790 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-5790 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: #0000ff;
}

.mfv-5790 { background-image: none; }
.mfv-5790 .m-layer1 { background-image: none; }

.mfv-5790.hovered { background-image: none; }
.mfv-5790.hovered .m-layer1 { background-image: none; }

.mfv-5790.selected { background-image: none; }
.mfv-5790.selected .m-layer1 { background-image: none; }

.mfv-5790.selected.hovered { background-image: none; }
.mfv-5790.selected.hovered .m-layer1 { background-image: none; }
.mfv-5790-state,
.mfv-5790-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-5790-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #0000ff;
}

.mfv-5790-state { background-image: none; }
.mfv-5790-state .m-layer1 { background-image: none; }

