<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Collectionpages>
            <version>0.1.0</version>
        </Tatva_Collectionpages>
    </modules>
    <admin>
        <routers>
			<collectionpages>
				<use>admin</use>
				<args>
					<module>Tatva_Collectionpages</module>
					<frontName>collectionpages</frontName>
				</args>
			</collectionpages>
        </routers>
    </admin>
    <adminhtml>
       <menu>
			<tatva module="collectionpages">
				<title>Tatvasoft</title>
				<sort_order>101</sort_order>
				<children>
					<collectionpages module="collectionpages">
                      <title>Collection Pages Create</title>
                      <sort_order>5</sort_order>
                      <action>collectionpages/adminhtml_collectionpages</action>
                    </collectionpages>
                </children>
			</tatva>
		</menu>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
    					<children>
    						<Tatva_Collectionpages>
    							<title>Tatva Collectionpages</title>
    							<sort_order>11</sort_order>
    						</Tatva_Collectionpages>
    					</children>
                        <system>
        					<children>
        						<config>
        							<children>
        								<collectionpages translate="title" module="collectionpages">
        									<title>Collectionpages</title>
        								</collectionpages>
        							</children>
        						</config>
        					</children>
        				</system>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<collectionpages>
					<file>collectionpages.xml</file>
				</collectionpages>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <collectionpages>
                <class>Tatva_Collectionpages_Model</class>
                <resourceModel>collectionpages_mysql4</resourceModel>
            </collectionpages>
            <collectionpages_mysql4>
                <class>Tatva_Collectionpages_Model_Mysql4</class>
                <entities>
                    <collectionpages>
                        <table>collectionpages</table>
                    </collectionpages>
                    <collectionpages_store>
						<table>collectionpages_store</table>
					</collectionpages_store>
                </entities>
            </collectionpages_mysql4>
        </models>
        <resources>
            <collectionpages_setup>
                <setup>
                    <module>Tatva_Collectionpages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </collectionpages_setup>
            <collectionpages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </collectionpages_write>
            <collectionpages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </collectionpages_read>
        </resources>
        <blocks>
            <collectionpages>
                <class>Tatva_Collectionpages_Block</class>
            </collectionpages>
        </blocks>
        <helpers>
            <collectionpages>
                <class>Tatva_Collectionpages_Helper</class>
            </collectionpages>
        </helpers>
    </global>
</config>